page-codeicap {



body { background:#edf2f2; }
.commonstyle { background: #edf2f2; }
.commonstyle .heading { box-shadow: none; background-color:transparent;  }
.commonstyle .cntntbox { background:#fff; border-radius: 5px; padding:0; }
.commonstyle .cntntbox h2 { font-size: 30px; color:#0db14c; font-weight: normal; display:block; width:100%; text-align:center;  }
.commonstyle .cntntbox h3 { font-size: 24px; color:#0db14c; font-weight: normal; display:block; width:100%; text-align:center; margin-bottom: 12px; }
.commonstyle .cntntbox .row1 { padding:20px; } 
.commonstyle .cntntbox .row1 .tick { text-align:center; width:100%; }
.commonstyle .cntntbox .row1 .tick img { width: auto; margin: 10px auto 0; }
.commonstyle .cntntbox .card-title-ios { margin:0; padding:3px 0 8px; }
.commonstyle .cntntbox ion-icon.ion-ios-arrow-dropright-circle:before { position:absolute; right:0;      content: url(/assets/imgs/bluearrow.png);   position: absolute;
  bottom: -58px; right:-15px; }
.commonstyle .cntntbox .row2 { background:#ecf5eb; padding: 20px;  }
.commonstyle .cntntbox .row2 .shareresult { width:100%; text-align:center; }
.commonstyle .cntntbox .row2 h3 { color:#55556a; font-weight: 500; font-size: 18px; text-align:center; width: 100%; display:block; }
.commonstyle ion-card { overflow: visible; }
.commonstyle .cntntbox .row2 .shareresult ul { margin: 15px 0 0; }
.commonstyle .cntntbox .row2 .shareresult ul li { float:left; margin: 0 4px; }
.commonstyle .cntntbox .row2 .shareresult img { width:auto; }

}