<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
</ion-header>
 
<ion-content class="logincont">
  
   <ion-grid>
     <ion-row>
       <ion-col col-12> <img src="../../assets/imgs/logo.jpg"> </ion-col>
     </ion-row>
      
      <h1>ICAP Ethics Dilemma</h1> 
      
     <ion-row class="loginlinks">
        <ion-col col-6 text-right><ion-label class="signlink">Sign in</ion-label></ion-col>
        <ion-col col-6 text-left><ion-label>Register</ion-label></ion-col>
      </ion-row>

   </ion-grid>
    <ion-list>
        <ion-item class="memberico">
          <ion-input type="text" placeholder="Memebership number"></ion-input>
        </ion-item>
      
        <ion-item class="memberpass">
          <ion-input type="password" placeholder="Password"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label>Remember my credentials</ion-label>
            <ion-checkbox color="dark" checked="true"></ion-checkbox>
          </ion-item>
          
      </ion-list>
      
      <div class="forgotline">
          <button ion-button color="dark" class="forgot" clear>Forgot password?</button>
          <button ion-button color="secondary" class="butn" round>Login</button>
      </div>

</ion-content>
