body { font-family: 'Roboto Condensed', sans-serif; }

page-login {
 

input::-webkit-input-placeholder { color: #005825; }
input::-moz-placeholder { color: #005825; }
input:-ms-input-placeholder { color: #005825; }
input:-moz-placeholder { color: #005825; }


$color_1: #0db14c;
$color_2: #8f8f8f;
$color_3: #005825;
$background_color_1: transparent;

.logincont {
	background-image: url('/assets/imgs/loginbg.jpg');
	background-size: cover;
	text-align: center;
	.scroll-content {
		padding: 10%;
		h1 {
			color: $color_1;
			font-size: 34px;
			padding: 4% 0 5%;
			text-align: center;
		}
		.loginlinks {
			color: $color_2;
			font-size: 25px;
			ion-label {
				font-size: 22px;
			}
			ion-label.signlink {
				background-image: url('/assets/imgs/seprator.jpg');
				background-position: right;
				background-repeat: no-repeat;
				padding-right: 20px;
				&:hover {
					color: $color_1;
				}
			}
		}
	}
	.item-ios {
		background-color: $background_color_1;
		border-top: 0;
		color: $color_3;
	}
	.list-ios {
		>.item-block {
			&:first-child {
				background-color: $background_color_1;
				border-top: 0;
			}
		}
		>.item-block.memberico {
			background-image: url('/assets/imgs/memberico.png');
			background-position: left;
			background-repeat: no-repeat;
		}
		>.item-block.memberpass {
			background-image: url('/assets/imgs/pas.png');
			background-position: left;
			background-repeat: no-repeat;
		}
	}
	.text-input-ios {
		margin: 14px 0px 8px 20px;
	}
	.forgotline {
		text-align: left;
		button.forgot {
			padding: 0;
			float: left;
		}
		button.butn {
			float: right;
			background: #209de0;
			border-radius: 10px;
			border-bottom: 4px solid #147db6;
		}
	}
}
.list-ios {
	>.item-block {
		margin: 0;
		padding: 0;
	}
	.item-block {
		.item-inner {
			padding: 10px;
		}
	}
}
.item-ios.item-block {
	.item-inner {
		border-bottom: 1px solid #005825;
	}
}

}