page-thankyou {

  $color_1: #0db14c;
  $color_2: #55556a;
  $color_3: #fff;
  $background_color_1: transparent;
  
  body {
    background: #edf2f2;
  }
  .thankspage {
    background: #edf2f2;
    .heading {
      box-shadow: none;
      background-color: $background_color_1;
    }
    .cntntbox {
      background: #fff;
      border-radius: 5px;
      padding: 0;
      h2 {
        font-size: 30px;
        color: $color_1;
        font-weight: normal;
        display: block;
        width: 100%;
        text-align: center;
      }
      h3 {
        font-size: 24px;
        color: $color_1;
        font-weight: normal;
        display: block;
        width: 100%;
        text-align: center;
      }
      .row1 {
        padding: 20px;
        .tick {
          text-align: center;
          width: 100%;
          img {
            width: auto;
            margin: 10px auto 0;
          }
        }
      }
      .card-title-ios {
        margin: 0;
        padding: 3px 0 8px;
      }
      ion-icon.ion-ios-arrow-dropright-circle {
        &:before {
          position: absolute;
          right: 0;
          content: url(/assets/imgs/bluearrow.png);
          position: absolute;
          bottom: -58px;
          right: -15px;
        }
      }
      .row2 {
        background: #ecf5eb;
        padding: 20px;
        .shareresult {
          width: 100%;
          text-align: center;
          ul {
            margin: 15px 0 0;
            padding:0;
            overflow:hidden;
            li {
              float: left;
              margin: 0 4px;
              list-style:none;
            }
          }
          img {
            width: auto;
          }
        }
        h3 {
          color: $color_2;
          font-weight: 500;
          font-size: 18px;
          text-align: center;
          width: 100%;
          display: block;
        }
      }
    }
    ion-card {
      overflow: visible;
    }
  }
  .ansbreakdown {
    padding: 0;
    .heading {
      padding: 15px;
      background: #0db14c;
      color: $color_3;
      border-radius: 5px 5px 0 0;
      width: 100%;
      text-align: center;
      font-size: 15px;
    }
  }
  .optionslist {
    width: 100%;
    padding: 20px;
    li {
      list-style: none;
      display: block;
      clear: both;
      margin-bottom: 10px;
      span {
        display: block;
      }
      .opt {
        margin-bottom: 5px;
        overflow: hidden;
        label {
          float: left;
          font-size: 15px;
          color: $color_2;
          padding: 2px 0;
        }
        strong {
          float: right;
          font-size: 18px;
          color: $color_2;
        }
      }
      .filled {
        position: relative;
        background: #d2d7dc;
        border-radius: 30px;
        height: 10px;
        abbr {
          position: absolute;
          height: 10px;
          border-radius: 30px;
        }
      }
    }
  }
  

}