<!--
  Generated template for the ThankyouPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
       </button>
   
    <ion-title>ICAP Ethics Dilemma</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="thankspage" padding>
  <ion-card>

    <ion-card-content class="cntntbox">
      
      <ion-row class="row1">
          <h2>Thank you.</h2>
          <h3>Your answer is submitted</h3>
          <div class="tick"><img src="assets/imgs/thankstick.png"></div>
      </ion-row>

      <ion-row class="row2">
        <div class="shareresult">
            <h3>Share your Result on:</h3>
            <ul>
              <li><a href="javascript:;"><img src="assets/imgs/facebook.png"></a></li>
              <li><a href="javascript:;"><img src="assets/imgs/twitter.png"></a></li>
              <li><a href="javascript:;"><img src="assets/imgs/linkedin.png"></a></li>
            </ul>
        </div>
      </ion-row>

    </ion-card-content>
  </ion-card>
   
    <ion-card>
    <ion-card-content class="ansbreakdown">
        <ion-row>
            <label class="heading">
                Answers Breakdown
            </label>
            
            <div class="optionslist">
              <ul>
                
                <li>
                    <span class="opt">
                      <label>Option A:</label>
                      <strong>56</strong>
                    </span>
                    <span class="filled">
                        <abbr style="width:56%; background: #1c9510;"></abbr>
                    </span>  
                    
                </li>
                
                <li>
                    <span class="opt">
                      <label>Option A:</label>
                      <strong>23</strong>
                    </span>
                    <span class="filled">
                        <abbr style="width:23%; background: #209de0;"></abbr>
                    </span>  
                    
                </li>    
                <li>
                    <span class="opt">
                      <label>Option A:</label>
                      <strong>10</strong>
                    </span>
                    <span class="filled">
                        <abbr style="width:10%; background: #ffc315;"></abbr>
                    </span>  
                    
                </li>   
                <li>
                      <span class="opt">
                        <label>Option A:</label>
                        <strong>80</strong>
                      </span>
                      <span class="filled">
                          <abbr style="width:80%; background: #df2228;"></abbr>
                      </span>  
                      
                </li> 
              </ul>
            </div>

        </ion-row>
    </ion-card-content>

  </ion-card>      
</ion-content>


