
page-dashboard {

  $color_1: #343442;
  $color_2: #005825;
  
  .clear {
    clear: both;
  }
  .dashboardpge {
    h2 {
      margin: 0 auto;
      color: $color_1;
      font-size: 22px;
      padding: 20px 0 40px;
      font-weight: bold;
    }
    button {
      background: none;
      color: $color_2;
      font-size: 30px;
      label {
        font-size: 13px;
        display: block;
        padding: 10px 0;
        font-weight: bold;
      }
    }
  }
  

}