<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>ICAP Ethics Dilemma</ion-title>
  </ion-navbar>

</ion-header>
 

<ion-content padding class="dashboardpge">
  <div class="row">
      <h2>Hello, John Doe,</h2>
  </div>
  <div class="row">

          <div col col-33>
            <button color="primary" (click)="openAboutPage()">
              <img src="assets/imgs/ico1.png">
              <label>About ICAP</label>
            </button>
          </div>
          <div col col-33>
            <button color="primary" (click)="openIcapCode()">
              <img src="assets/imgs/ico2.png">
              <label>Codes</label>
            </button>
          </div>
          <div col col-33>
            <button color="primary" (click)="openIcapDilemmas()">
              <img src="assets/imgs/ico3.png">
              <label>Dilemmas</label>
            </button>
          </div>
      </div>
        <div class="row">
          <div col col-33>
            <button color="primary" (click)="openSubmitDilemma()">
              <img src="assets/imgs/ico4.png">
              <label>Submit Your Case</label>
            </button>
          </div>

          <div col col-33>
            <button color="primary" (click)="openNewsEvents()">
              <img src="assets/imgs/ico5.png">
              <label>News and Events</label>
            </button>
          </div>

          <div col col-33>
            <button color="primary" (click)="openFAQs()">
              <img src="assets/imgs/ico6.png">
              <label>FAQs</label>
            </button>
          </div>
       </div>
       <div class="row">
          <div col col-33>
            <button color="primary" (click)="openContactUs()">
              <img src="assets/imgs/ico7.png">
              <label>Contact Us</label>
            </button>
          </div>

          <div col col-33>
            <button color="primary" (click)="openDisclaimer()">
              <img src="assets/imgs/ico8.png">
              <label>Disclaimer</label>
            </button>
          </div>
          <div col col-33>
              <button color="primary">
                &nbsp;
              </button>
            </div>
         </div>
</ion-content>
