page-categorylist {


  $color_1: #005825;
  $background_color_1: transparent;
  
  body {
    background: #edf2f2;
    
  }

  
  
  .dilemmacats {
    background: #edf2f2;
    h2 {
      font-size: 15px;
      color: $color_1;
      font-weight: bold;
    }
    .heading {
      box-shadow: none;
      background-color: $background_color_1;
    }
    .cntntbox {
      border: 1px solid #0db14c;
      border-radius: 4px;
      .mark {
        font-weight: bold;
        font-size: 18px;
        color: $color_1;
      }
      
      [col-11] {
        max-width: 86.66667%;
      }
      .card-title-ios {
        margin: 0;
        padding: 3px 0 8px;
      }
      .ion-md-arrow-dropright-circle {
        &:before {
          position: absolute;
          right: 0;
          content: url('../assets/imgs/bluearrow.png');
          position: absolute;
          bottom: -58px;
          right: -15px;
        }
      }
    }
    ion-card {
      overflow: visible;
    }
    
  }

 

}