<!--
  Generated template for the CategorylistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>ICAP Ethics Dilemma</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dilemmacats">
    <ion-card class="heading">
        <h2>Category: Banking & Financial Services</h2>
    </ion-card>


  <ion-card>
        <ion-card-content class="cntntbox">
          <ion-row>
            <ion-col class="mark">Q.</ion-col>
          <ion-col col-11>     
            <ion-card-title>
        Dilemma 01
        </ion-card-title>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
       </p>
       <ion-icon name="arrow-dropright-circle" (click)="listCatDilemmas()"></ion-icon>
       </ion-col></ion-row>
       </ion-card-content>
       </ion-card>
       


</ion-content>
