page-dilemma {

 
  $color_1: #005825;
  $color_2: #003516;
  $color_3: #fff;
  
  .card-title-md {
    font-size: 15px; line-height: 22px;
  }

  $background_color_1: transparent;
  
  body {
    background: #edf2f2;
  }

  .bar-button-default-md {
    color: $color_3;
  }
  .bar-button-clear-md-default {
    color: $color_3;
  }
  .bar-button-md-default {
    color: $color_3;
  }
  
  .dilemmacatsinn {
    background: #edf2f2;
    h2 {
      font-size: 15px;
      color: $color_1;
      font-weight: bold;
    }
    .heading {
      box-shadow: none;
      background-color: $background_color_1;
    }
    .cntntbox {
      border: 1px solid #209de0;
      background: #deeef7;
      border-radius: 4px;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(195,224,240,1);
      -moz-box-shadow: 0px 0px 30px 0px rgba(195,224,240,1);
      box-shadow: 0px 0px 30px 0px rgba(195,224,240,1);
      .mark {
        font-weight: bold;
        font-size: 18px;
        color: $color_1;
      }
      [col-11] {
        max-width: 86.66667%;
      }
      .card-title-ios {
        margin: 0;
        padding: 3px 0 8px;
        font-size: 15px;
        line-height: 20px;
        color: $color_2;
      }
    }
    .card-ios {
      p {
        color: $color_1;
      }
    }
    .checkbox-ios {
      margin-top: 0;
    }
  }
  
  .greenborder {
    border: 1px solid #209de0;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(195,224,240,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(195,224,240,1);
    box-shadow: 0px 0px 30px 0px rgba(195,224,240,1);
    border-radius: 4px;
  }
  .listoptions {
    .card-title-ios {
      color: $color_1;
      font-size: 20px;
      font-weight: bold;
      padding: 2% 8%;
    }
  }
  button.submit {
    background: #0db14c;
    color: $color_3;
    text-transform: uppercase;
  }

  
  

}