<!--
  Generated template for the DilemmaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
       </button>
   
    <ion-title>ICAP Ethics Dilemma</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dilemmacatsinn">
    <ion-card class="heading">
        <h2>Category: Banking & Financial Services</h2>
    </ion-card>
    <ion-card>
        <ion-card-content class="cntntbox">
          <ion-row>
            <ion-col class="mark">Q.</ion-col>
          <ion-col col-11>     
            <ion-card-title>
                You are doing audit of compliance with Regulatory requirements. Regulator in the past has also audited the same (six months back) where no significant observations were raised. While performing audit procedures you identified a significant non-compliance with regulations which can potentially result in significant financial and reputational impact. Management has requested you not to ....
        </ion-card-title>
        
       </ion-col></ion-row>
       </ion-card-content>
       </ion-card>

       <ion-card class="greenborder listoptions">
          <ion-card-content>
              <ion-card-title>
                  Options
                  </ion-card-title>
            <ion-row>
              <ion-col col-1><ion-checkbox> [(ngModel)]="option1"></ion-checkbox></ion-col>
              <ion-col col-11>      
                <p>
                  a) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
               </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-1><ion-checkbox>[(ngModel)]="option1"></ion-checkbox></ion-col>
              <ion-col col-11>      
                 <p>
                  b) Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
               </ion-col>
              </ion-row>
         </ion-card-content>
         </ion-card>
         
         <ion-card-content>
        <ion-row>
         <button class="submit" ion-button type="submit" block>Submit</button>
        </ion-row>
        </ion-card-content>
</ion-content>
