<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ICAP Ethics Dilemma</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3></h3>

  <p>
  </p>

<!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
