<!--
  Generated template for the ContacticapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
       </button>
   
    <ion-title>ICAP Ethics Dilemma</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dilemmacatsinn">
        
        <div class="row">
                <h3>Contact Us</h3> 
            </div>

            <ion-row>
            <ion-list>
                    <ion-item>
                      <ion-label floating>Full Name</ion-label>
                      <ion-input type="text"></ion-input>
                    </ion-item>
                  
                    <ion-item>
                      <ion-label floating>Email Address</ion-label>
                      <ion-input type="text"></ion-input>
                    </ion-item>
                  
                    <ion-item>
                        <ion-label floating>Subject</ion-label>
                        <ion-input type="text"></ion-input>
                      </ion-item>
      
                    <ion-item>
                          <ion-label floating>Telephone</ion-label>
                          <ion-input type="text"></ion-input>
                    </ion-item>
      
                    <ion-item>
                            <ion-label floating>Message</ion-label>
                            <ion-input type="text"></ion-input>
                          </ion-item>
                          <ion-item>    
                                <button block (click)="doConfirm()"> Submit</button>
                          </ion-item>
                        </ion-list>
                  
                </ion-row>

    <ion-row>
        <iframe src="https://www.google.com/maps/embed?pb=" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </ion-row>
  
  
    <ion-card>
        <ion-card-content class="cntntbox">
            <ion-row>
            <ul>
                <li><strong>Address:</strong> 1111-B Hazelhurst Dr # 00000, Houston Street.</li>
                <li><strong>Email:</strong> info@icapdilemma.com</li>
                <li><strong>Phone:</strong> 111-222-333</li>
                <li><strong>Fax:</strong> 111-222-333</li>
            </ul>
          </ion-row>          
       </ion-card-content>
       </ion-card>
  
</ion-content>

 