page-contacticap {


ul { margin:0; padding:0; }
ul li { list-style:none; }
.dilemmacatsinn {
  h3 {
    color:#0db14c;
    margin:0 auto;
  }
}

.list-md {
  width:100%; 
}

.submitbtn {
  padding: 0;
  color:#fff;
}
button {
  color: #fff;
  padding: 10px 25px;
  background: #0db14c;
  font-size: 16px;
  border-radius: 20px;
}

.list-ios
{
  width: 100%; 
}

.list-ios {
	>.item-block {
		&:first-child {
			border:0; 
		}
	}
}

}