page-submitdilemma {

  $color_1: #0db14c;
  $color_2: #55556a;
  $color_3: #fff;
  $background_color_1: transparent;
  
  body {
    background: #edf2f2;
  }
  .submitdilema {
    background: #edf2f2;
    .heading {
      box-shadow: none;
      background-color: $background_color_1;
    }
    .cntntbox {
      background: #fff;
      border-radius: 5px;
      padding: 0;
      h2 {
        font-size: 30px;
        color: $color_1;
        font-weight: normal;
        display: block;
        width: 100%;
        text-align: center;
      }
      h3 {
        font-size: 24px;
        color: $color_1;
        font-weight: normal;
        display: block;
        width: 100%;
        text-align: center;
      }
      .row1 {
        padding: 20px;
        .tick {
          text-align: center;
          width: 100%;
          img {
            width: auto;
            margin: 10px auto 0;
          }
        }
      }
      .card-title-ios {
        margin: 0;
        padding: 3px 0 8px;
      }
      ion-icon.ion-ios-arrow-dropright-circle {
        &:before {
          position: absolute;
          right: 0;
          content: url(/assets/imgs/bluearrow.png);
          position: absolute;
          bottom: -58px;
          right: -15px;
        }
      }
      .row2 {
        background: #ecf5eb;
        padding: 20px;
        .shareresult {
          width: 100%;
          text-align: center;
          ul {
            margin: 15px 0 0;
            li {
              float: left;
              margin: 0 4px;
            }
          }
          img {
            width: auto;
          }
        }
        h3 {
          color: $color_2;
          font-weight: 500;
          font-size: 18px;
          text-align: center;
          width: 100%;
          display: block;
        }
      }
    }
    ion-card {
      overflow: visible;
    }
    .submitbtn {
      padding: 0;
    }
    button {
      color: $color_3;
      padding: 10px 25px;
      background: #0db14c;
      font-size: 16px;
      border-radius: 20px;
    }
  }

  .list-md { 
    width: 100%;
  }
  

}