<!--
  Generated template for the SubmitdilemmaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
       </button>
   
    <ion-title>ICAP Ethics Dilemma</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="commonstyle submitdilema" padding>
     
    <ion-card-content class="cntntbox">
        <ion-row>
            <h3>Submit a Dilemma</h3>
            <ion-list>
              <ion-item>
                <ion-label floating>Enter Your Dilemma</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
            
              <ion-item>
                <ion-label floating>Option 01</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
            
              <ion-item>
                  <ion-label floating>Option 02</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>

              <ion-item>
                    <ion-label floating>Option 03</ion-label>
                    <ion-input type="text"></ion-input>
              </ion-item>

              <ion-item>
                      <ion-label floating>Option 04</ion-label>
                      <ion-input type="text"></ion-input>
                    </ion-item>
            </ion-list>
            
            <div padding class="submitbtn">
              <button block (click)="doConfirm()"> Submit</button>
            </div>
      </ion-row>
      </ion-card-content>
</ion-content>
