// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face{
  font-family: 'Roboto Condensed';
  src: url('../assets/fonts/roboto.woff');
}
body { 
  font-family: 'Roboto Condensed' !important; background:#edf2f2; 
}
	
.item-ios { padding-left:0; }

.item-md { padding:0; }
$color_1: #fff;

.toolbar-background-md {
  background: #0db14c;
  
  .toolbar-title-md {
	  color: #fff;
  }
    ion-toolbar {
		text-align: left;
		color: $color_1;
	}
	.toolbar-ios {
		ion-title {
			padding: 0 20px;
			background: #0db14c;
		}
	}
}

.bar-button-default-md, 
  {
    .bar-button-clear-md-default, 
      {
        .bar-button-md-default{
            color:#fff !important;
        }
      }
    }

 .toolbar-title-md   {
   color: $color_1;
   font-weight: normal;
   font-size: 18px;
    text-align: center;
 }

 .bar-button-menutoggle-md 
  {
    ion-icon {
        color:#fff;
    }
	}
	
 

	.toolbar-ios {
			ion-title 
			{	
				padding:0 25px 1px;
			}
		}

.mainmenu {
	ion-list {
		button.item {
			.item-inner {
				background: #209de0;
				padding: 5px 15px 5px 70px;
				color: $color_1;
				border-bottom: 1px solid #fff;
			}
			&:first-child {
				.item-inner {
					background: #209de0 url('../assets/imgs/dash.png') no-repeat 20px 10px;;
				}
			}
			&:nth-child(2) {
				.item-inner {
					background: #209de0 url('../assets/imgs/menu1.png') no-repeat 20px 10px;;
				}
			}
			&:nth-child(3) {
				.item-inner {
					background: #209de0 url('../assets/imgs/menu2.png') no-repeat 20px 10px
				}
			}
			&:nth-child(4) {
				.item-inner {
					background: #209de0 url('../assets/imgs/menu3.png') no-repeat 20px 10px;
				}
			}
			&:nth-child(5) {
				.item-inner {
					background: #209de0 url('../assets/imgs/menu4.png') no-repeat 20px 10px;
				}
			}
			&:nth-child(6) {
				.item-inner {
					background: #209de0 url('../assets/imgs/menu5.png') no-repeat 20px 10px;
				}
			}
			&:nth-child(7) {
				.item-inner {
					background: #209de0 url('../assets/imgs/menu6.png') no-repeat 20px 10px;
				}
			}
			&:nth-child(8) {
				.item-inner {
					background: #209de0 url('../assets/imgs/menu7.png') no-repeat 20px 10px;
				}
			}
			&:nth-child(9) {
				.item-inner {
					background: #209de0 url('../assets/imgs/menu8.png') no-repeat 20px 10px;
				}
			}
			&:nth-child(10) {
				.item-inner {
					background: #209de0 url('../assets/imgs/thanks.png') no-repeat 20px 10px;
				}
			}
			

			&:last-child {
				position: absolute;
				bottom: 0;
				.item-inner {
					font-size: 15px;
					color: $color_1;
					padding: 4px 10px 4px 30px;
					background: #df2228 url('../assets/imgs/logoutico.png') no-repeat 95px 11px;
					display: block;
					width: 100%;
					text-align: left;
				}
			}
		}
	}
}
 



.bar-button-default-ios {
	color: $color_1 !important;
}
.bar-button-default.bar-button-ios-default {
	color: $color_1 !important;
}
.bar-button-clear-ios-default {
	color: $color_1 !important;
}

$color_1: #0db14c;
$background_color_1: transparent;

.commonstyle {
	background: #edf2f2;
	.heading {
		box-shadow: none;
		background-color: $background_color_1;
	}
	.cntntbox {
		background: #fff;
		border-radius: 5px;
		padding: 0;
		h2 {
			font-size: 30px;
			color: $color_1;
			font-weight: normal;
			display: block;
			width: 100%;
			text-align: center;
		}
		h3 {
			font-size: 24px;
			color: $color_1;
			font-weight: normal;
			display: block;
			width: 100%;
			text-align: center;
			margin-bottom: 12px;
		}
		.row {
			padding: 20px;
			-webkit-box-shadow: 0px 0px 15px 1px rgba(219,219,219,1);
			-moz-box-shadow: 0px 0px 15px 1px rgba(219,219,219,1);
			box-shadow: 0px 0px 15px 1px rgba(219,219,219,1);
			.tick {
				text-align: center;
				width: 100%;
				img {
					width: auto;
					margin: 10px auto 0;
				}
			}
		}
		.card-title-ios {
			margin: 0;
			padding: 3px 0 8px;
		}
		ion-icon.ion-ios-arrow-dropright-circle {
			&:before {
				position: absolute;
				right: 0;
				content: url(/assets/imgs/bluearrow.png);
				position: absolute;
				bottom: -58px;
				right: -15px;
			}
		}
		.text-input {
			font-size: 13px;
		}
		.list-ios {
			width: 100%;
		}
	}
	.item-ios.item-block {
		.item-inner {
			border-bottom: 1px solid #ccc;
		}
	}
	.list-ios {
		>.item-block {
			&:first-child {
				border-top: 0;
			}
		}
	}
}
