page-faqs {


  $background_color_1: transparent;

  .faqs {
    background: #edf2f2;
    .heading {
      box-shadow: none;
      background-color: $background_color_1;
    }
    .cntntbox {
      background: #fff;
      border-radius: 5px;
      padding: 0;
      .row {
        padding: 20px;
        -webkit-box-shadow: 0px 0px 15px 1px rgba(219,219,219,1);
        -moz-box-shadow: 0px 0px 15px 1px rgba(219,219,219,1);
        box-shadow: 0px 0px 15px 1px rgba(219,219,219,1);
        .tick {
          text-align: center;
          width: 100%;
          img {
            width: auto;
            margin: 10px auto 0;
          }
        }
      }
      .card-title-ios {
        margin: 0;
        padding: 3px 0 8px;
      }
      ion-icon.ion-ios-arrow-dropright-circle {
        &:before {
          position: absolute;
          right: 0;
          content: url(/assets/imgs/bluearrow.png);
          position: absolute;
          bottom: -58px;
          right: -15px;
        }
      }
      .text-input {
        font-size: 13px;
      }
      .list-ios {
        width: 100%;
      }
    }
    .item-ios.item-block {
      .item-inner {
        border-bottom: 1px solid #ccc;
      }
    }
    .list-ios {
      >.item-block {
        &:first-child {
          border-top: 0;
        }
      }
    }
    ion-label {
      white-space: unset;
    }
  }
  

.faqs
  { 
    .cntntbox 
    {
      h3 {
        margin:0 auto;
        color:#0db14c;
      }
  }
}

}