<!--
  Generated template for the FaqsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
       </button>
   
       <ion-title>ICAP Ethics Dilemma</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="faqs" padding>
    <ion-card-content class="cntntbox">

       <ion-row class="row1">
            <h3>FAQ's</h3>
         </ion-row> 
        <ion-row>

          <ion-item-group>
                <ion-item-divider color="light"><h2>Questions 01</h2></ion-item-divider>
                <ion-item><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></ion-item>
          </ion-item-group>
          <ion-item-group>
              <ion-item-divider color="light"><h2>Questions 02</h2></ion-item-divider>
              <ion-item><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></ion-item>
          </ion-item-group>
          <ion-item-group>
            <ion-item-divider color="light"><h2>Questions 03</h2></ion-item-divider>
            <ion-item><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p></ion-item>
          </ion-item-group>

      </ion-row> 
    </ion-card-content> 
</ion-content>
