page-newsandevents {

}

.newsevents 
  { 
    ion-card-title 
    {
       text-transform:capitalize; 
    }
  }
.newsevents 
  {
    button 
      { 
        background:#0db14c; border:1px solid #0db14c; color:#fff; 
      }
    }
.newsevents
{
  h3{
    margin:0 auto;
    color:#0db14c;
  }
}