<!--
  Generated template for the NewsandeventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
       </button>
   
    <ion-title>ICAP Ethics Dilemma</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="common newsevents">
    
        <ion-row class="row1">
            <h3>News & Events</h3>
         </ion-row> 
  <ion-card>
    <img src="../../assets/imgs/nin-live.png"/>
    <ion-card-content>
      <ion-card-title>
        title of news 1
        </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
      <button ion-button color="primary" outline>Read more</button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="../../assets/imgs/badu-live.png"/>
    <ion-card-content>
      <ion-card-title>
        title of news 2
        </ion-card-title>
      <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p>
      <button ion-button color="primary" outline>Read more</button>
    </ion-card-content>
  </ion-card>
</ion-content>
